@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body,button,ul,p,h3,input,h2{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    border: 0;
    list-style-type: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
#header{
    box-shadow: 0px 4px 20px -15px rgba(0, 0, 0, 0.70);
}
#header div h1{
    color: #292929;
}
#vitrine h2{
    color: #292929;
}
#header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#header-right{
    display: flex;

    align-items: center;
}
#header-right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
#header-right ul li:hover{
    cursor: pointer;
    text-decoration:underline;
}
main{
    display: flex;
    justify-content: space-between;
}
#initial-pokemon{
    display: flex;
    gap: 20px;
}
#initial-pokemon input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#initial-pokemon div:hover{
    background-color: rgba(128, 128, 128, 0.24);
    cursor: pointer;
}
#initial-pokemon img:hover{
    cursor: pointer;
}
#initial-pokemon input + div{
    border: 1px solid transparent;
}
#initial-pokemon input:checked + div{
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.767)
}
#initial-pokemon label img{
    width: 100px;
    height: 100px;
}
#initial-pokemon label{
    width: 100px;
    height: 100px;
}
#selling-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: 2px solid transparent;
    padding: 5px;
}
.card:hover{
    border: 2px solid #37268C;
}
.card-info{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px 5px; 
    gap:10px;
}
.tag{
    width: fit-content;
    padding: 3px;
    background-color: #2E245E;
    color: #ffffff;
}
.card-info button, .card-carrinho-info button{
    background-color:#ffffff;
    text-align: left;
}
.card-info button:hover, .card-carrinho-info button:hover ,.modal-footer button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.card-price,.card-carrinho-price{
    color: #2E245E;
    font-weight: bold;
}
.card-title,.card-carrinho-title{
    font-weight: bold;
    color: #292929;
}
#pesquisa-carrinho{
    margin-top: 1em;
}
#pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
#pesquisa input{
    width: 150px;
    background-color: #F5F5F5;
    color: #242424;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    margin-right: 8px;
}
#pesquisa button{
    background-color: #2E245E;
    color: #ffffff;
    height: 40px;
    padding: 5px;
    font-size: 15px;
    border: 0;
}
#pesquisa button:hover{
    cursor: pointer;
}
#carrinho{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#carrinho-title{
    background-color: #37268C;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    text-align: center;
}
#carrinho-body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-height: 50vh;
    overflow-y: scroll;
}
.card-carrinho{
    display:flex;
    gap: 10px;
    justify-content: space-between;
}
.card-carrinho-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
#carrinho-footer{
    background-color: #292929;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
#carrinho-footer p{
    display: flex;
    justify-content: space-between;
    padding:10px;
}
#carrinho-footer p .checkout-right{
    color:#F5F5F5 ;
    font-weight: 400;
}
#carrinho-footer button{
    background-color: #2E245E;
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
    border: 0;
    justify-self: center;
}
#carrinho-footer button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.empty-cart{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #292929;
}
.empty-cart-sub{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #242424;
}

#choosen-pokemon img{
    width: 40px;
}
#choosen-pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#selected-pokemon-title{
    font-weight: bold;
    color: #292929;
    text-align: center;
}

.modal{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.modal-content{
    width: 800px;
    height: 600px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.card-checkout{
    display: flex;
    align-items: center;
    background-color: #acacac;
    width: fit-content;
    border: #242424 solid 1px;
    padding: 3px;
    border-radius: 10px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
    background-color: #37268C;
    font-size: 32px;
    line-height: 45px;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
    border-radius:10px 10px 0 0;
}
.modal-header button{
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
}
.modal-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    max-height: 500px;
    min-height: 430px;
    padding: 20px;
}
#cart-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.modal-footer{
    width: 100%;
    background-color: #292929;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    border-radius: 0 0 10px 10px;
    justify-content: center;
}
.modal-footer button{
    background-color: transparent;
    border: 0;
    color: #F5F5F5;
    font-weight: bold;
    font-size: 20px;
}